<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}" data-load-components="{{loadComponents}}">

<head>
	<meta name="robots" content="noindex, nofollow">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">

	<title>{{page.meta_title}}</title>

	<link rel="shortcut icon" href="./favicon.ico">

	<link rel="stylesheet" href="./css/uikit-theme.min.css" />
	<link rel="stylesheet" href="./css/main.min.css" />
</head>

<body>

	<header class='header uk-position-absolute uk-position-top'>
		<img src='./img/header-mobile-tablet.svg' data-uk-svg alt='image' class='uk-hidden@s shape'>
		<nav class='uk-flex uk-flex-between' data-uk-navbar>
			<a href='#' class='uk-navbar-item uk-logo'>
				<img src="{{logo}}" alt="{{nb.siteName}} Logo">
			</a>

			<div class='uk-flex uk-flex-column'>
				<ul class='uk-flex uk-flex-right nav-top'>
					<li><a href='#'>Donate</a></li>
					<li class='uk-visible@s'><a href='#'><abbr title='Frequently Asked Questions'>FAQ</abbr></a></li>
					<li class='uk-visible@s'><a href='#'>Resources</a></li>
					<li class='uk-visible@s'><a href='#'>Contact</a></li>
					<li class='uk-visible@s'><a href='#'>Follow us <i>
								<svg viewBox="0 0 24 24">
									<use xlink:href="./symbol/icons.svg#facebook"></use>
								</svg>
							</i></a></li>
				</ul>

				<div class='uk-flex uk-flex-right uk-flex-middle'>
					{{> renderNavigation}}

					{{> ukButton link="#" class="uk-visible@s" label=cta style="primary" icon="arrow-right"}}
					<button class='uk-hidden@l burger-menu' data-uk-toggle='target: #menu-nav'
						aria-label='Open menu navigation'>
						<img class='shape' src='./img/menu-dropdown.svg' data-uk-svg alt='image'>
						<span role='presentation'></span>
					</button>

					{{> renderMobNavigation}}
				</div>
			</div>
		</nav>
	</header>

	<main class="uk-margin-bottom">

		{{> sightingButton}}

		{{#if page.noBannerBreadcrumbs}}
		{{else}}
			{{#if page.banner}}
			{{> banner}}
			{{#if page.breadcrumbs}}
			{{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
			{{#*inline "out"}}
			{{> ukBreadcrumb }}
			{{/inline}}
			{{/ukContainer}}
			{{/if}}
			{{else}}
			{{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
			{{#*inline "out"}}
			<div class="no-hero">
				<h1>{{page.h1}}</h1>
			</div>
			{{> ukBreadcrumb }}
			{{/inline}}
			{{/ukContainer}}
			{{/if}}
		{{/if}}

		{{#> main }}{{/main}}

	</main>

	<footer class="footer uk-position-relative">
		<img class="uk-visible@l" src="./img/bird-intro.png" data-uk-img alt="image">
		{{#> ukContainer}}
		{{#*inline "out"}}
		<div class="uk-flex uk-flex-between">
			<div class="footer-left">
				<div class="uk-flex uk-flex-between uk-flex-wrap">
					<div class="faq">
						<h2>Please feel free to contact us if you have any questions.</h2>
						{{> ukButton link="#" label="View all FAQs" style="secondary" icon="arrow-right" size="large"}}
					</div>
					<div class="address">
						<h3 class="uk-text-bold">Address</h3>
						<ul class="uk-list">
							<li>Orkney Native Wildlife Project</li>
							<li>H24 Garison Road</li>
							<li>Hatston, Kirkwall</li>
							<li>Orkney, KW15 1GN</li>
							<li>United Kingdom</li>
						</ul>
					</div>
					<div class="footer-right uk-hidden@m">
						<div>
							<h3 class="uk-text-bold">General Enquiries:</h3>
							<ul class="uk-list">
								<li>
									{{> ukButton link="#" label="+44(0) 1856 881451" style="text" class="uk-margin-remove-bottom"}}
								</li>
								<li class="uk-margin-remove-top">
									{{> ukButton link="#" label="info@onwp.org.uk" style="text"}}
								</li>
							</ul>

							<h3 class="uk-text-bold">Media enquiries:</h3>
							{{> ukButton link="#" label="media@onwp.org.uk" style="text"}}
						</div>
						<a href='#'><strong>Follow us on:</strong> <i><svg viewBox="0 0 24 24">
									<use xlink:href="./symbol/icons.svg#facebook"></use>
								</svg></i>
							<span>Facebook</span></a>
					</div>
				</div>
				<div>
					<span class="uk-text-lead">Protecting our native wildlife together:</span>
					<ul class="uk-flex uk-list uk-flex-wrap">
						<li><a href="#" aria-label="Click to find out more"><img src="./img/rspb-logo.png" data-uk-img
									alt="image"></a></li>
						<li class="uk-margin-remove-top"><a href="#" aria-label="Click to find out more"><img
									src="./img/nature-scot-logo.png" data-uk-img alt="image"></a></li>
						<li class="uk-margin-remove-top"><a href="#" aria-label="Click to find out more"><img
									src="./img/oic-logo.png" data-uk-img alt="image"></a></li>
						<li class="uk-margin-remove-top"><a href="#" aria-label="Click to find out more"><img
									src="./img/hf-logo.png" data-uk-img alt="image"></a></li>
						<li class="uk-margin-remove-top"><a href="#" aria-label="Click to find out more"><img
									src="./img/life-logo.png" data-uk-img alt="image"></a></li>
						<li class="uk-margin-remove-top"><a href="#" aria-label="Click to find out more"><img
									src="./img/natura-logo.png" data-uk-img alt="image"></a></li>
					</ul>
				</div>
			</div>
			<div class="footer-right uk-visible@m">
				<div>
					<h3 class="uk-text-bold">General Enquiries:</h3>
					<ul class="uk-list">
						<li>
							{{> ukButton link="#" label="+44(0) 1856 881451" style="text" class="uk-margin-remove-bottom"}}
						</li>
						<li class="uk-margin-remove-top">
							{{> ukButton link="#" label="info@onwp.org.uk" style="text"}}
						</li>
					</ul>

					<h3 class="uk-text-bold">Media enquiries:</h3>
					{{> ukButton link="#" label="media@onwp.org.uk" style="text"}}
				</div>
				<a href='#'><strong>Follow us on:</strong> <i><svg viewBox="0 0 24 24">
							<use xlink:href="./symbol/icons.svg#facebook"></use>
						</svg></i>
					<span>Facebook</span></a>
			</div>
		</div>
		<div class="footer-bottom">
			{{#if legal}}
			<ul class='uk-flex legal uk-list uk-flex-wrap'>
				<li class='copyright uk-padding-remove-left'>
					Copyright &copy; {{year}} {{nb.clientName}}. All rights reserved.</li>
				{{#each legal}}
				<li class="uk-margin-remove-top">
					<a href="#">{{this}}</a>
				</li>
				{{/each}}
				<li class="watermark uk-margin-remove-top">
					Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener"
						href="https://www.nbcommunication.com/">NB <img src="{{{blankPixel}}}"
							data-src="https://brand.nbcommunication.com/logo/web/nb.png" alt="NB Communication Ltd Logo"
							data-uk-img></a>
				</li>
			</ul>
			{{/if}}
			<span>The Royal Society for the Protection of Birds (RSPB) is a registered charity: England and
				Wales no.
				207076, Scotland no. SC037654
			</span>
		</div>
		{{/inline}}
		{{/ukContainer}}
	</footer>

	<script src="./js/svgxuse.min.js"></script>
	<script src="./js/uikit-core.min.js"></script>
	<script src="./js/nbkit.js"></script>
	<script src="./js/main.js"></script>
</body>

</html>