{{!-- {{#each timelinecard}}
<div class="timelinecard">
	<div class='uk-flex uk-flex-start uk-flex-between'>
		<div class='uk-width-1-2@s uk-width-1-1 uk-flex'>
			<div class='timeline-card uk-margin-medium'>
				<h3>{{title}}</h3>
				<img data-uk-img src='{{src}}' alt='{{alt}}'>
				{{#each timelinecardText}}
				<p>{{text}}</p>
				{{/each}}
				{{> ukButton label="Find out more" style="text"}}
			</div>
			<div class='timeline-date right'>
				<div class='uk-flex'>
					<span class='num'>{{number}}<sup>{{append}}</sup></span>
					<div class='timeline-line' role='presentation'>
						<span class='uk-position-top-center' role='presentation'>
							<img data-uk-img src='./img/bird.png' alt='image'>
						</span>
					</div>
				</div>
				{{#if date}}
				<span class='date'>{{date}}</span>
				{{/if}}
			</div>
		</div>
	</div>
</div>
{{/each}} --}}